/* -------------------- UNIVERSAL TYPES -------------------- */

:root {
  --dteal:#12393c;
  --lteal:#31595d;
  --dream:#dacebc;
  --goldn:#da8f56;
  --rosie:#641d40;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: rgba(218, 206, 188,1);
}

body {
	font-family: 'Public Sans', sans-serif;
}

section {
	width: 100%;
	padding: 40px 0;
}

@media screen and (max-width: 600px) {
    h2 {
        text-align: center;
    }
}

/* -------------------- FONTS (AVERIA)  -------------------- */

@font-face {
  font-family: 'Averia Bold';
  src: url('../fonts/AveriaSerif-Bold.ttf');
}

@font-face {
  font-family: 'Averia LI';
  src: url('../fonts/AveriaSerif-LightItalic.ttf');
}

/* -------------------- HEADER  -------------------- */

header {
	position: absolute;
	height: 100vh;
	width: 100%;
	background: url("../images/umbrellasbg.jpg");
	background-attachment: fixed;
	background-size: cover;
	top: 0;
}

header .content {
	width: auto;
	max-width: 1200px;
	padding: 10px;
	margin: 0 10vh;
	margin-top: 20vh;
	text-align: left;
	color: white;
}

header .content .newHeadline {
	font-family: 'Caudex', serif;
	font-weight: 700;
	line-height: 1;
	font-size: 60px;
	margin-bottom: 0px;
	text-align: left;
}

header .content .newHeadline p {
	margin: 2vh 0;
}

header .content .headlinecontainer {
	margin-bottom: 20px
}

header .content .caption {
    margin-top: 30px;
	font-size: 20px;
}

header .content .callToAction {
	margin: 5vh 0;
	padding: 10px;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	background-color: var(--goldn);
	color: white;
	max-width: 200px;
	text-align: center;
}

header .content .callToAction:hover {
	background-color: white;
	color: var(--dteal);
}

header .content .wreath {
	margin-top: 6vh;
	position: relative;
	display: block;
}

header .content .wreath img {
	width: 200px;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .caption {
        font-size: 10px;
        margin-top: 0;
    }
    .headlinecontainer {
        margin-top: -70px;
    }
}
@media screen and (max-height: 800px) {
	header .content {
		margin-top: 80px;
		margin-left: 20px;
	}
	.slogan {
		display: none;
	}
}

/* -------------------- CORNERS -------------------- */

.slogan {
	font-family: 'Caudex', serif;
	font-weight: 700;
	position: absolute;
	color: rgba(255,255,255,1);
	top: 55px;
	padding:5px;
	left:15px;
}

.myName {
	font-size: 30px;
}

.jobTitle {
	font-family: 'Public Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
}

.credit {
	position: absolute;
	color: rgba(255,255,255,0.5);
	bottom: 15px;
	padding:5px;
	right:15px;
}

header a {
	color: rgba(255,255,255,0.5);
	border-bottom: 1px solid rgba(255,255,255,0.5);
	padding-bottom: 3px;

}

header a:hover {
	color: rgba(255,255,255,1);
	border-bottom: 1px solid rgba(255,255,255,1);
	padding-bottom: 3px;
}

.social {
	position: fixed;
	color: rgba(255,255,255,0.5);
	bottom: 15px;
	padding:5px;
	left:15px;
	z-index: 150;
}

@media screen and (max-height:600px) {
    header .wreath img {
        height: 65px;
        margin-top:-30px;
    }
}

/* -------------------- NAVBAR -------------------- */

nav {
	position: fixed;
	z-index: 150;
	top:0;
	margin: 0;
	width: 100%;
	height: 50px;
	background-color: rgba(255,255,255,0);
	border-bottom: 1pt solid rgba(255,255,255,0.5);
	color: rgba(255,255,255,0.5);
}

nav .logo {
	padding: 20px;
	position: absolute;
	left: 0;
	line-height: 0.5em;
	font-family: 'Caudex', serif;
	font-weight: 700;
	font-size: 25px;
}

nav .logo a {
	color: rgba(255,255,255,0.9);
}

nav .logo a:hover {
	color: rgba(255,255,255,1);
}

nav .topNavHorizLinks {
	position: absolute;
	right: 0;
	float: right;
}

nav .topNavHorizLinks ul {
	list-style: none;
	display: block;
	list-style-type: none;
	margin: 0;
    padding: 0;
    overflow: hidden;
}

nav .topNavHorizLinks li {
	display: block;
	padding: 15px;
	float: right;
	color: rgba(255,255,255,0.6);
}

nav .topNavHorizLinks li a {
	padding: 10px;
	text-decoration: none;
}

nav .topNavHorizLinks li:hover {
	color: rgba(255,255,255,1);
}

nav .topNavVertiLinkHamburger {
	display: none;
	padding: 15px;
}

nav #topNavVertiLinks {
	display: none;
	width: 100%;
	text-align: center;
	color: white;
	background-color: var(--dteal);
	margin-top: 50px;
	font-size: 20px;
	list-style: none;
}

nav #topNavVertiLinks a {
	padding: 0 40px;
}

.topNavVertiLinkHamburger:hover {
	color: var(--goldn);
}

@media screen and (max-width: 800px) {
	nav .horizOnly {
		display: none;
	}
	nav .topNavVertiLinkHamburger {
		display: block;
	}
}

@media screen and (min-width: 800px) {
	#topNavVertiLinks {
		display: none;
	}
}

nav .logo img {
	height: 25px;
	margin-top:-7px;
	margin-right: 10px;
}

/* -------------------- UNIVERSAL CONTENT -------------------- */

.pagecontent {
	max-width: 1000px;
	margin: 0 auto;
	padding: 30px;
	padding-bottom: 10vh;
}

.pagecontent h2 {
	font-size: 80px;
	font-family: 'Caudex', serif;
	font-weight: 700;
}

.pagecontent -ul p {
	display: block;
	width: 500px;
	text-align: justify;
	font-size: 20px;
}

.pagecontent img {
	max-width: 300px;
	float: right;
	margin: 50px;
	margin-top: 140px;
}

@media screen and (max-width: 600px) {
    .pagecontent {
        padding-bottom: 0;
        margin-bottom: 0
    }
}

/* -------------------- INDIVIDUAL SECTIONS -------------------- */

/* -------------------- CONTAINER FOR ALL SECTIONS -------------------- */

#pagecontainer {
	position: absolute;
	top: 100vh;
	padding: 0;
}

/* -------------------- FOOTER SECTION, CANNIBALIZED WHOLEHEARTEDLY FROM ANOTHER PROJECT -------------------- */

footer {
	background-color: var(--dteal);
	color: white;
	position: relative;
	top: 0vh;
	min-height: 200px;
	padding-bottom: 20px;
    padding-top: 20px;
}

footer a {
	color: white;
}

footer a:hover {
	color: var(--goldn);
}

footer .w3-third {
	padding: 20px 40px;
	max-width: 300px;
	vertical-align: top;
}

#footerlogo img {
    margin: 0 auto;
    text-align: center;
}

footer ul {
    margin-top: 0;
}

footer li {
	display: block;
	padding-bottom: 5px;
}

footer .toplist {
    padding-bottom: 15px;
}

footer .toplist a:hover {
    text-transform: none;
}

#resources span {
	font-style: italic;
	width: 300px;
}

@media screen and (max-width: 600px) {
    footer {
        padding-bottom: 60px;
    }
    #footerlist {
        margin-top: 20px;
        padding-left: 0;
        padding-bottom: 0;
    }
    #resources span {
        text-align: center;
    }
    .w3-third {
        width: 100%;
    }
}