/* -------------------- UNIVERSAL TYPES -------------------- */

:root {
  --dteal:#12393c;
  --lteal:#31595d;
  --dream:#dacebc;
  --goldn:#da8f56;
  --rosie:#641d40;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-transform: uppercase;
	color: rgba(218, 206, 188,1);
}

body {
	font-family: 'Public Sans', sans-serif;
}

section {
	width: 100%;
	padding: 40px 0;
}

@media screen and (max-width: 600px) {
    h2 {
        text-align: center;
    }
}

/* -------------------- FONTS (AVERIA)  -------------------- */

@font-face {
  font-family: 'Averia Bold';
  src: url('../fonts/AveriaSerif-Bold.ttf');
}

@font-face {
  font-family: 'Averia LI';
  src: url('../fonts/AveriaSerif-LightItalic.ttf');
}

/* -------------------- HEADER  -------------------- */

header {
	position: absolute;
	height: 100vh;
	width: 100%;
	background: url("../images/headerbg.jpg");
	background-attachment: fixed;
	background-size: cover;
	top: 0;
}

header .content {
	width: auto;
	max-width: 500px;
	padding: 10px;
	margin: 0 auto;
	margin-top: 40vh;
	text-align: center;
	color: white;
}

header .content .headlineFrench, header .content .headlineEnglish {
	font-family: 'Caudex', serif;
	font-weight: 700;
	font-size: 100px;
	margin-bottom: 0px
}

header .content .headlinecontainer {
	height:100px;
	margin-bottom: 20px
}

header .content .caption {
    margin-top: 30px;
	position: relative;
	display: block;
	font-size: 20px;
}

header .content .wreath {
	padding-top: 9vh;
	position: relative;
	display: block;
}

header .content .wreath img {
	width: 200px;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .caption {
        font-size: 10px;
        margin-top: 0;
    }
    header .content .headlineFrench, header .content .headlineEnglish {
	   font-size: 15vw;
    }
    .headlinecontainer {
        margin-top: -70px;
    }
}

/* -------------------- CORNERS -------------------- */

.slogan {
	font-family: 'Caudex', serif;
	font-weight: 700;
	position: absolute;
	color: rgba(255,255,255,1);
	top: 55px;
	padding:5px;
	left:15px;
}

.myName {
	font-size: 30px;
}

.jobTitle {
	font-family: 'Public Sans', sans-serif;
	font-size: 15px;
	font-weight: 400
}

.credit {
	position: absolute;
	color: rgba(255,255,255,0.5);
	bottom: 15px;
	padding:5px;
	right:15px;
}

header a {
	color: rgba(255,255,255,0.5);
	border-bottom: 1px solid rgba(255,255,255,0.5);
	padding-bottom: 3px;

}

header a:hover {
	color: rgba(255,255,255,1);
	border-bottom: 1px solid rgba(255,255,255,1);
	padding-bottom: 3px;
}

.social {
	position: fixed;
	color: rgba(255,255,255,0.5);
	bottom: 15px;
	padding:5px;
	left:15px;
	z-index: 150;
}

@media screen and (max-height:600px) {
    header .wreath img {
        height: 65px;
        margin-top:-30px;
    }
}

/* -------------------- NAVBAR -------------------- */

nav {
	position: fixed;
	z-index: 150;
	top:0;
	margin: 0;
	width: 100%;
	height: 50px;
	background-color: rgba(255,255,255,0);
	border-bottom: 1pt solid rgba(255,255,255,0.5);
	color: rgba(255,255,255,0.5);
}

nav .logo {
	padding: 20px;
	position: absolute;
	left: 0;
	line-height: 0.5em;
	font-family: 'Caudex', serif;
	font-weight: 700;
	font-size: 25px;
}

nav .logo a {
	color: rgba(255,255,255,0.9);
}

nav .logo a:hover {
	color: rgba(255,255,255,1);
}

nav .topNavHorizLinks {
	position: absolute;
	right: 0;
	float: right;
}

nav .topNavHorizLinks ul {
	list-style: none;
	display: block;
	list-style-type: none;
	margin: 0;
    padding: 0;
    overflow: hidden;
}

nav .topNavHorizLinks li {
	display: block;
	padding: 15px;
	float: right;
	color: rgba(255,255,255,0.6);
}

nav .topNavHorizLinks li a {
	padding: 10px;
	text-decoration: none;
}

nav .topNavHorizLinks li:hover {
	text-transform: uppercase;
	color: rgba(255,255,255,1);
}

nav .topNavVertiLinkHamburger {
	display: none;
	padding: 15px;
}

nav #topNavVertiLinks {
	display: none;
	width: 100%;
	text-align: center;
	color: white;
	background-color: var(--dteal);
	margin-top: 50px;
	font-size: 20px;
	list-style: none;
}

nav #topNavVertiLinks a {
	padding: 0 40px;
}

.topNavVertiLinkHamburger:hover {
	color: var(--goldn);
}

@media screen and (max-width: 800px) {
	nav .horizOnly {
		display: none;
	}
	nav .topNavVertiLinkHamburger {
		display: block;
	}
}

@media screen and (min-width: 800px) {
	#topNavVertiLinks {
		display: none;
	}
}

nav .logo img {
	height: 25px;
	margin-top:-7px;
	margin-right: 10px;
}

/* -------------------- UNIVERSAL CONTENT -------------------- */

.pagecontent {
	max-width: 1000px;
	margin: 0 auto;
	padding: 30px;
	padding-bottom: 10vh;
}

.pagecontent h2 {
	font-size: 80px;
	font-family: 'Caudex', serif;
	font-weight: 700;
}

.pagecontent -ul p {
	display: block;
	width: 500px;
	text-align: justify;
	font-size: 20px;
}

.pagecontent img {
	max-width: 300px;
	float: right;
	margin: 50px;
	margin-top: 140px;
}

@media screen and (max-width: 600px) {
    .pagecontent {
        padding-bottom: 0;
        margin-bottom: 0
    }
}

/* -------------------- INDIVIDUAL SECTIONS -------------------- */

/* -------------------- CONTAINER FOR ALL SECTIONS -------------------- */

#pagecontainer {
	position: absolute;
	top: 100vh;
	padding: 0;
}

/* -------------------- ABOUT SECTION -------------------- */

#About {
	position: static;
	top: 100vh;
	background-color: white ;
	color: var(--dteal);
    min-height: 580px;
}

#About h2 {
	color:var(--rosie);
}

#About p {
	margin-left: 70px;
    max-width: 550px;
}

#About b {
	color:var(--goldn);
}

#About a {
	color:var(--goldn);
    border-bottom: 1px solid;
    padding-bottom: 3px;
}

#About img {
    border-radius: 50%;
    margin-top: 50px;
}

@media screen and (max-width: 800px) {
    #About {
        text-align: center;
    }
        #About p {
	   margin-left: 0px;
        text-align: left;
    }
    #About img {
        margin: 0 auto;
        text-align: center;
        padding: 0;
        float: none;
        width: 100%;
    }
    #About h2 {
        width: 100%;
        margin: 40px auto;
        text-align: center;
        float: inline-start;
        line-height: 1;
    }
}

@media screen and (max-width: 600px) {
        #About p {
	   width: 100%;
         padding: 10px;
    }

}

@media screen and (min-width: 800px) {
    #About h2 {
        margin-bottom: 40px;
        line-height: 1;
        margin-left:30px;
        text-align: center;
    }
    #About p {
        margin-left:30px;
    }
}

@media screen and (min-width: 1000px) {
    #About p {
        margin-left:70px;
        text-align: left;
    }
    #About h2 {
        margin-top:70px;
        text-align: left;
    }

}

/* -------------------- SERVICES SECTION -------------------- */

#Services {
	background-color: var(--lteal);
	position: static;
	top: 300vh;
}

#Services h2 {
	color: var(--dream) ;
    line-height: 1;
}

#Services h3 {
	color: var(--goldn) ;
    line-height: 1;
	font-family: 'Caudex', serif;
	font-weight: 700;
    padding-left: 10vw;
    margin-top: 50px;
    margin-bottom: 5px;
}

#Services .plusTitle {
	text-align: center;
}

#Services p {
	text-align: center;
}

#Services .servSub {
	font-style: italic;
    font-family: 'Public Sans', sans-serif;
    padding-left: 13vw;
    color: var(--goldn) ;
    text-align: left;
    margin-top: 0px;
}

#Services .terpServTable1, #Services .transServTable {
    margin-top: 40px;
}

#Services ul {
	text-align: center;
    list-style-type:none;
    padding-left: 0;
    margin-top: 70px;
}

#Services ul.moreServTable {
    margin-top: 40px;
}


#Services li {
    display: inline;
	background-color: white;
	padding: 20px;
	margin: 20px 10px;
}

#Services .arrow {
	background-color: transparent;
    margin: 10px 0;
    padding: 0;
}

#Services a {
	color: var(--dteal);
	text-decoration: none;
}
    
#Services li img {
	width: 60px;
    display: inline;
    float: none;
    margin: 0;
    background-color: none;
}

@media screen and (max-width: 800px) {
    #Services ul {
	text-align: center;
    list-style-type: none;
    margin-bottom: 0;
    padding-bottom: 20px;
    }

	#Services li {
		margin: 5px;
	}
    
#Services h2 {
	text-align: center;
    width: 100%;
    margin: 0 auto;
}

#Services h3 {
    padding-left: 0;
    margin-top: 50px;
    margin-bottom: 5px;
	text-align: center;
}

#Services .servSub {
    padding-left: 0;
    text-align: center;
    margin-top: 0px;
}

#Services .moreServTable li {
	margin: 20px 0 0 0;
    display: block;
}

@media screen and (max-width:600px) {
    #Services h2 {
    font-size: 10vw;
        line-height: 14vw;
}

}} 

/* -------------------- RECOMMENDATIONS SECTION -------------------- */

#Recommendations {
	background-color: var(--dream);
	color: var(--dteal);
	position: static;
	top: 165vh;
	text-align: justify;
}

#Recommendations #highWidthTable {
	margin-left: 2vw;
}

#Recommendations #lowWidthTable {
	display: none
}

#Recommendations img {
	width: 200px;
	border-radius: 100%;
}

#Recommendations img {
	float: none;
}

#Recommendations #lowWidthTable img {
	margin-top: 50px;
}

#Recommendations #highWidthTable img {
	margin-top: 140px;
}

#Recommendations .testimImageLowWidthCell {
	text-align: center;
}

#Recommendations .recName {
	text-align: right;
}

#Recommendations .testimtext {
    vertical-align: middle;
}

@media screen and (max-width: 800px) {
   
#Recommendations h2 {
	text-align: center;
    width: 100%;
    margin: 0 auto;
}

#Recommendations #highWidthTable {
	display: none;
}

#Recommendations #lowWidthTable {
	display: block;
}

}
@media screen and (max-width:600px) {
    #Recommendations h2 {
    font-size: 10vw;
        line-height: 14vw;
    }}

/* -------------------- LINKS SECTION -------------------- */

#Links {
	background-color: var(--lteal);
	position: static;
	top: 200vh;
}

#Links h2 {
	color: var(--dream) ;
    line-height: 1;
}

#Links p {
	text-align: center;
}

#Links ul {
	text-align: center;
    list-style-type:none;
    padding-left: 0;
    margin-top: 70px;
}

#Links li {
    display: inline;
	background-color: white;
	padding: 20px;
	margin: 20px 10px;
}

#Links a {
	color: var(--dteal);
	text-decoration: none;
}

#Links li:hover {
	background-color: var(--dream);
}

@media screen and (max-width: 800px) {
    #Links ul {
	text-align: center;
    list-style-type: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
    
#Links h2 {
	text-align: center;
    width: 100%;
    margin: 0 auto;
}

#Links li {
	margin: 20px 0 0 0;
    display: block;
}
}
@media screen and (max-width:600px) {
    #Links h2 {
    font-size: 10vw;
        line-height: 14vw;
}

}

/* -------------------- CONTACT SECTION -------------------- */

#Contact {
	background-color: white;
	color: var(--dream);
	position: static;
	top: 270vh;
}

#Contact h2 {
	color:var(--rosie);
    margin-bottom: 60px;
}

#Contact p {
	text-align: center;
    margin: 0 auto;
}

#Contact a {
	color: var(--lteal);
}

#Contact a:hover {
	color: var(--goldn);
}

#Contact .linkitem {
	background-color: var(--goldn);
	color: white;
	padding: 20px;
	margin: 10px;
}

#Contact .linkitem:hover {
	background-color: var(--dream);
	color: var(--rosie);
}

@media screen and (max-width:600px) {
    #Contact h2 {
        margin-bottom: 40px;
    }
    #Contact {
    padding-bottom: 110px;
    }
}

/* -------------------- FOOTER SECTION, CANNIBALIZED WHOLEHEARTEDLY FROM ANOTHER PROJECT -------------------- */

footer {
	background-color: var(--dteal);
	color: white;
	position: relative;
	top: 0vh;
	min-height: 200px;
	padding-bottom: 20px;
    padding-top: 20px;
}

footer a {
	color: white;
}

footer a:hover {
	color: var(--goldn);
}

footer .w3-third {
	padding: 20px 40px;
	max-width: 300px;
	vertical-align: top;
}

#footerlogo img {
    margin: 0 auto;
    text-align: center;
}

footer ul {
    margin-top: 0;
}

footer li {
	display: block;
	padding-bottom: 5px;
}

footer .toplist {
    padding-bottom: 15px;
}

footer .toplist a:hover {
    text-transform: none;
}

#resources span {
	font-style: italic;
	width: 300px;
}

@media screen and (max-width: 600px) {
    footer {
        padding-bottom: 60px;
    }
    #footerlist {
        margin-top: 20px;
        padding-left: 0;
        padding-bottom: 0;
    }
    #resources span {
        text-align: center;
    }
    .w3-third {
        width: 100%;
    }
}